<!DOCTYPE html>
<html>
{% load static %}
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="" content="" />

  <title>Fast Loan</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' %}" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px;">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/website\">
            <span>
              Fast Loan
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/website\">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/website\how">Apply For Loan </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/website\loan">
                    <span>Loan Status</span> <img src="{% static 'images/wallet.png' %}" alt="" />
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/website\contact">Contact Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="out"> Sign Out</a>
                </li>
              </ul>
              <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  
    <h1 style="text-align: center;">About Us</h1>
    
    <h2>Our Mission</h2>
    <p style="margin-bottom: 20px;text-align: center;">We are dedicated to providing flexible and affordable financing solutions to help individuals achieve their dreams of homeownership, car ownership, and personal financial growth.</p>

    <h2 style="text-align:center;background-color:lightblue;">What We Offer</h2>
    {% for j in what %}
    <h3>{{j.Heading}}</h3>
    <p>{{j.sub_heading}}</p>
    {% endfor %}
     <div style="text-align:center;">
    <h2>Why Choose Us</h2>
    <ul style="text-align:center">
        <li>Experienced and knowledgeable team</li>
        <li>Flexible loan options</li>
        <li>Competitive interest rates</li>
        <li>Quick and efficient loan approval process</li>
        <li>Personalized customer service</li>
        <li>Transparent and fair terms</li>
    </ul>
     </div>
  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            
            <h5>
              Contact Us
            </h5>
            
            <div>
              <div class="img-box">
                <img src="{% static 'images/phone.png' %}" width="18px" alt="" />
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/envelope.png' %}" width="18px" alt="" />
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Invest Money
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Links
            </h5>
            <ul>
              {% for i in usefull %}
              <li>
                <a href="{{i.link}}">
                  {{i.link_name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <a href="/website"><h5><u>Home</u></h5></a>
            <a href="/website\about"><h5><u>About</u></h5></a>
            <a href="/website\contact"><h5><u>Contact Us</u></h5></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js' %}">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->
</body>

</html>